body {
  background: #4a6686;
  font-family: Arial, sans-serif;
  overflow-y: hidden;
}

.app-container {
  display: flex;
  height: 100vh;
}

.toggle-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

.toggle-icon.rotate {
  transform: rotate(180deg);
}

.trash-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

.bot-list {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.bot-item,
.user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin: 0 100px;
}

.user-list {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.bot-item.selected,
.bot-item:hover {
  background: #33455a;
}

.bot-avatar,
.user-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.message-list {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background: #33455a;
  color: #fff;
}

.message-input-container {
  display: flex;
  padding: 19px;
  background: #4a6686;
}

.message-input-container input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: -10px;
  background: #33455a;
  color: #fff;
}

.message-input-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #33455a;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

.message-input-container button:hover {
  background: #202b38;
}

.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.message.sent {
  justify-content: flex-end;
}

.message.received {
  justify-content: flex-start;
}

.message.sent .content {
  background: #4a6686;
}

.message.received .content {
  background: #445e7c;
}

.message .avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  color: transparent;
  display: block;
}

.message .content {
  max-width: 60%;
  padding: 10px;
  border-radius: 5px;
}

.message .time {
  font-size: 12px;
  margin-left: 10px;
  color: #abaeb3;
}

.chat-header {
  background: #4a6686;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.border-element {
  width: 370px;
  background-color: #4a6686;
}
